@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:600,700,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  background-color: #ffeee1;
  height: 100vh;
}

.title {
  margin-left: 80px;
  margin-top: 80px;
  font-size: 40px;
}

.learn-title {
  color: #373737;
  font-size: 56px;
  font-weight: 800;
}

.learn-text {
  color: #4e4e4e;
  font-size: 24px;
  margin-top: 16px;
}

.progress-bar {
  margin-top: 24px;
  margin-right: 30px;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}

.navigation-buttons button {
  flex: 1;
  width: 5%;
  height: 300px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 120px 0;
  border-radius: 30px;
  background-color: #ff6c2d;
  border: none;
  transition: 0.3s;
}

.navigation-buttons button:hover {
  background-color: #d15621;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
 
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 36px;
}

.modal-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.modal-sub-header {
  font-size: 18px;
  color: #777777;
  margin-bottom: 36px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.modal-buttons button {
  font-size: 16px;
  font-weight: 400;
  flex: 1;
  min-width: calc(
    33.33% - 20px
  );
  padding: 12px 48px;
  background-color: #ff6c2d;
  color: #ffffff;
  border: none;
  border-radius: 18px;
  transition: 0.2s;
}

.modal-buttons button:hover {
  transform: scale(1.03);
}

.close-button {
  font-size: 20px;
  color: #757575;
  padding: 8px;
  position: absolute;
  right: 5%;
  top: 2%;
  border: none;
  background-color: transparent;
}