@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:600,700,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  background-color: #ffeee1;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.content h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.slide-show {
  display: flex;
  /* align centrally on tyhe y axis */
  align-items: center;
}

.slide-show button {
  color: #FFFFFF;
  min-width: 80px;
  padding: 8px;
  min-height: 36px;
  background-color: #FF6C2D;
  border: none;
  border-radius: 15px;
}

.slide-show button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.previous {
  margin-right: 36px;
}

.next {
  margin-left: 36px;
}

.description {
  margin-top: 12px;
  font-size: 18px;
}

.leave-button {
  color: #FF4949;
  font-size: 18px;
  background: transparent;
  border: none;
  margin-top: 36px;
}

.leave-button:hover {
  cursor: pointer;
}