@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:600,700,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar-container {
  padding-top: 36px;
}

.navbar-container-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
}

.brand-logo {
  width: 60px;
  height: 60px;
}

.brand-name {
  font-size: 36px;
  font-weight: 700;
  color: #FF6C2D;
  margin-left: 16px;
}

.navigation-section {
  display: flex;
  flex-direction: row;
}

.navigation-icons {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.navigation-icons svg {
  width: 45px;
  height: 45px;
}

.navigation-icons a:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-name {
  font-size: 14px;
  height: 45px;
  padding: 10px 48px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #FF6C2D;
  text-decoration: none;
  color: #ffffff;
  margin-left: 80px;
}

.user-name:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.user-name:visited {
  color: #ffffff;
}

.logout-button {
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  align-items: center;
  padding: 10px 0;
  background-color: transparent;
  text-decoration: none;
  color: #464444;
  margin-left: 48px;
  margin-right: 80px;
}

.logout-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}