* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

.container {
    background-color: #fab987;
    height: 100vh;
}

.heading {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: larger;
    margin-left: 700px;
}

.video{
    justify-items: center;
    align-self: center;
    margin-left: 540px;
}

.container button{
    flex-direction: row;
    flex: 1;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 30px 120px;
    border-radius: 30px;
    background-color: #FF6C2D;
    border: none;
    transition: 0.3s;
    margin-left: 800px;
}